<h1>Display your Pirate here</h1>
Name: <%= @pirate.name %>
Weight: <%= @pirate.weight %>
Height: <%= @pirate.height %>

<h2>Display your first ship here</h2>
Name: <%= @ship1.name %>
Type: <%= @ship1.type %>
Booty: <%= @ship1.booty %>

<h2>Display your second ship here</h2>
Name: <%= @ship2.name %>
Type: <%= @ship2.type %>
Booty: <%= @ship2.booty %>
