<h2>Pirate Details</h2>
Name: <%= @pirate.name %>
Weight: <%= @pirate.weight %>
Height: <%= @pirate.height %>

<h2>Ship Details</h2>
<% @ships.each do %>
  Name: <%= @ship1.name %>
  Type: <%= @ship1.type %>
  Booty: <%= @ship1.booty %>
<% end %>
