<h2>Pirate Details</h2>
Name: <%= @pirate.name %>
Weight: <%= @pirate.weight %>
Height: <%= @pirate.height %>

<h2>Ship Details</h2>
<% @ships.each do |ship| %>
  Name: <%= ship.name %>
  Type: <%= ship.type %>
  Booty: <%= ship.booty %></br>
<% end %>
